<div class="header">
  <nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="#/">My App</a>
    </div>


    <div ng-controller="NavCtrl" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--
      <form class="navbar-form navbar-left" role="search" ng-submit="submitPost()" ng-show="signedIn()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" ng-model="post.title" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Link" ng-model="post.url" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      -->

      <ul class="nav navbar-nav navbar-left">
          <li><a ng-href="#/">Home</a></li>
          <li><a ng-href="#/posts">Blog</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#/services">Services</a></li>
          <li><a ng-href="#/pricing">Pricing</a></li>
          <li><a ng-href="#/contact">Contact Us</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <!--
          <li ng-show="signedIn()">
            <p class="navbar-text">{{user.profile.username}}</p>
          </li>
          <li ng-show="signedIn()">
            <a ng-href="#/users/{{user.uid}}">
              <img ng-src="http://www.gravatar.com/avatar/{{user.profile.md5_hash}}" class="nav-pic" /> {{currentUser.username}}
            </a>
          </li>
          <li ng-show="signedIn()">
            <a ng-href="#" ng-click="logout()">Logout</a>
          </li>
          <li ng-hide="signedIn()">
            <a ng-href="#/login">Login</a>
          </li>
          <li ng-hide="signedIn()">
            <a ng-href="#/register">Register</a>
          </li>
          -->

          <li class="dropdown" ng-if="signedIn()">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <!--<i class="fa fa-user fa-fw"></i>-->
                <!--{{currentUser.username}}-->
                <img ng-src="http://www.gravatar.com/avatar/{{user.profile.md5_hash}}" class="nav-pic" />  <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li ng-if="signedIn()"><a ng-href="#/projects"><i class="fa fa-sitemap fa-fw"></i> My Projects</a></li>
                <li class="divider"></li>
                <li><a ng-href="#/users/{{user.uid}}"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                <li><a ng-href="#/settings"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a ng-href="#" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
              </ul>
          </li>
          <li ng-if="!signedIn()">
              <a ng-href="#/login">Login</a>
          </li>
      </ul>
    </div>

  </nav>
</div>
